body{
    background-color: bisque;
    transition: 2s;
}
.text{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 20%;
}